.drawer {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 0;

  &_icons {
    display: flex;
    justify-content: flex-start;
    padding: 8px;
  }

  &_details {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;

    &_scrollarea {
      flex: 1;
      min-height: 0;
    }
  }
}
