.header {
  text-align: left;
  h2 {
    font-size: 1rem;
    margin: 0;
    padding: 0.4rem 0.2rem;

    color: black;
    display: inline-block;
  }
  h3 {
    font-size: 0.9rem;
    margin: 0;
    padding: 0.2rem 0.2rem;

    color: gray;
    display: inline-block;
  }

  a {
    text-decoration: none;
    color: inherit;

    cursor: pointer;
  }
}
